.cdx-table-wrapper {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 25px;
}

.cdx-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  /* table-layout: auto; */
  border-spacing: 0;
  box-sizing: border-box;

  &__cell {
    padding: 12px 10px;
    vertical-align: top;
    outline: none;
    /* max-width: 130px; */
  }

  &__cell_align_left {
    text-align: left;
  }

  &__cell_align_center {
    text-align: center;
  }

  &__cell_align_right {
    text-align: right;
  }

  tbody tr th,
  td {
    position: relative;
    border: 1px solid #dbdbe2;
    font-size: 15px;
  }

  &__header {
    font-size: 16px;
    padding-top: 18px;
    font-weight: bold;
    border-bottom: 2px solid #dbdbe2;
  }

  &__td_stripe {
    background: #f7f7f7;
  }

  &__zebra_row {
    background: #f9f9f9;
  }

  &__active_column {
    background: #e6f8ff;
    border-left: 2px solid #0fb3f3;
    border-right: 2px solid #0fb3f3;
  }

  &__active_row {
    background: #e6f8ff;
    border-top: 2px solid #0fb3f3;
    border-bottom: 2px solid #0fb3f3;
  }

  &__active_top {
    border-top: 2px solid #0fb3f3;
  }

  &__active_bottom {
    border-bottom: 2px solid #0fb3f3;
  }

  &__active_left {
    border-left: 2px solid #0fb3f3;
  }

  &__active_right {
    border-right: 2px solid #0fb3f3;
  }

  &__column_handler {
    position: absolute;
    top: -18px;
    left: calc(50% - 30px);
    width: 60px;
    height: 8px;
    background: #eff2f5;
    border-radius: 4px;
    display: none;

    &:hover {
      cursor: pointer;
      background: #e0e0e0;
    }

    transition: all 0.3s;
  }

  &__row_handler {
    position: absolute;
    top: calc(50% - 15px);
    left: -20px;
    width: 8px;
    height: 30px;
    background: #eff2f5;
    border-radius: 4px;
    display: none;

    &:hover {
      cursor: pointer;
      background: #e0e0e0;
    }

    transition: all 0.3s;
  }

  &__column_actions {
    position: absolute;
    top: -26px;
    left: 10%;
    width: 80%;
    height: 20px;
    align-items: center;
    justify-content: center;
    display: none;
  }

  &__column_action_icon {
    margin-right: 8px;
    cursor: pointer;
    width: 12px;
    height: 12px;

    svg {
      fill: #0599cc;
    }

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    transition: all 0.3s;
  }

  &__row_actions {
    position: absolute;
    top: 5px;
    left: -40px;
    flex-wrap: wrap;
    width: 32px;
    height: 32px;
    justify-content: space-between;
    flex-direction: column;

    display: none;
  }

  &__row_action_icon {
    cursor: pointer;
    width: 12px;
    height: 12px;

    svg {
      fill: #0599cc;
    }

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    transition: all 0.3s;
  }
}

.cdx-block:focus-within .cdx-ctrlbreak-hint {
  opacity: 1;
}

.cdx-ctrlbreak-hint {
  position: absolute;
  right: 8px;
  bottom: 4px;

  display: flex;
  font-size: 10px;
  color: grey;
  height: 15px;

  opacity: 0;
  transition: opacity 0.2s;
}

.cdx-ctrlbreak-entity {
  height: 12px;
  margin-top: 2px;
  margin-left: 4px;
}
