.cdx-table-wrapper {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 25px;
}

.cdx-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border-spacing: 0;
  box-sizing: border-box;

  &__cell {
    padding: 12px 10px;
    vertical-align: top;
    outline: none;
  }

  tbody tr td {
    position: relative;
    border: 1px solid #dbdbe2;
  }

  &__active_column {
    background: #e6f8ff;
    border-left: 2px solid #0fb3f3 !important;
    border-right: 2px solid #0fb3f3 !important;
  }

  &__active_row {
    background: #e6f8ff;
    border-top: 2px solid #0fb3f3 !important;
    border-bottom: 2px solid #0fb3f3 !important;
  }

  &__active_top {
    border-top: 2px solid #0fb3f3 !important;
  }

  &__active_bottom {
    border-bottom: 2px solid #0fb3f3 !important;
  }

  &__active_left {
    border-left: 2px solid #0fb3f3 !important;
  }

  &__active_right {
    border-right: 2px solid #0fb3f3 !important;
  }

  &__column_handler {
    position: absolute;
    top: -18px;
    left: calc(50% - 30px);
    width: 60px;
    height: 8px;
    background: #eff2f5;
    border-radius: 4px;
    opacity: 0;

    &:hover {
      cursor: pointer;
      background: #e0e0e0;
    }

    transition: all 0.3s;
  }

  &__row_handler {
    position: absolute;
    top: calc(50% - 15px);
    left: -20px;
    width: 8px;
    height: 30px;
    background: #eff2f5;
    border-radius: 4px;
    opacity: 0;

    &:hover {
      cursor: pointer;
      background: #e0e0e0;
    }

    transition: all 0.3s;
  }

  /* tbody tr:first-child td {
    border-top: none;
    padding: 0;
  } */

  /* tbody tr:last-child td {
    border-bottom: none;
    padding: 0;
  }

  tbody tr td:last-child {
    border-right: none;
    padding: 0;
  }

  tbody tr td:first-child {
    border-left: none;
    padding: 0;
  } */
}
