.cdx-table-wrapper {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 25px;
}

.cdx-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border-spacing: 0;
  box-sizing: border-box;

  /* &__wrap {
    border: 1px solid #DBDBE2;
    border-radius: 3px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
  } */

  &__cell {
    /* border: 1px solid #dbdbe2; */
    padding: 10px;
    vertical-align: top;
    outline: none;
  }

  tbody tr td {
    border: 1px solid #dbdbe2;
  }
  /* tbody tr:first-child td {
    border-top: none;
    padding: 0;
  } */

  /* tbody tr:last-child td {
    border-bottom: none;
    padding: 0;
  }

  tbody tr td:last-child {
    border-right: none;
    padding: 0;
  }

  tbody tr td:first-child {
    border-left: none;
    padding: 0;
  } */
}
